In [1]:
import sqlite3

In [2]:
db = sqlite3.connect("ineuron.db")

In [3]:
db

In [4]:
ls

 Volume in drive C has no label.
 Volume Serial Number is BEC0-260A

 Directory of C:\Users\fazlu\Working_space\class\DataBases

20-02-2022  10:30    <DIR>          .
20-02-2022  10:30    <DIR>          ..
20-02-2022  10:18    <DIR>          .ipynb_checkpoints
19-02-2022  10:28    <DIR>          19.3 MongoDB
19-02-2022  10:21         4,407,102 19.3 MongoDB.7z
19-01-2022  10:30            38,777 glass_data
19-01-2022  11:17            36,126 glass_data_final
20-02-2022  10:30                 0 ineuron.db
19-02-2022  10:44            48,903 MongoDB.ipynb
17-02-2022  18:06           146,429 MySQL.ipynb
20-02-2022  10:29               775 SQLLITE.ipynb
               7 File(s)      4,678,112 bytes
               4 Dir(s)  393,900,736,512 bytes free

In [5]:
c = db.cursor()

In [6]:
c.execute('create table fsds(name text, batchid int, marks real)')

In [11]:
ls

 Volume in drive C has no label.
 Volume Serial Number is BEC0-260A

 Directory of C:\Users\fazlu\Working_space\class\DataBases

20-02-2022  10:40    <DIR>          .
20-02-2022  10:40    <DIR>          ..
20-02-2022  10:18    <DIR>          .ipynb_checkpoints
19-02-2022  10:28    <DIR>          19.3 MongoDB
19-02-2022  10:21         4,407,102 19.3 MongoDB.7z
19-01-2022  10:30            38,777 glass_data
19-01-2022  11:17            36,126 glass_data_final
20-02-2022  10:38             8,192 ineuron.db
20-02-2022  10:40             4,616 ineuron.db-journal
19-02-2022  10:44            48,903 MongoDB.ipynb
17-02-2022  18:06           146,429 MySQL.ipynb
20-02-2022  10:39             4,271 SQLLITE.ipynb
               8 File(s)      4,694,416 bytes
               4 Dir(s)  393,899,503,616 bytes free

In [12]:
c.execute("insert into fsds values('sudh',2254,325.25)")
c.execute("insert into fsds values('sudh',2254,325.25)")
c.execute("insert into fsds values('sudh',2254,325.25)")
c.execute("insert into fsds values('sudh',2254,325.25)")
c.execute("insert into fsds values('sudh',2254,325.25)")
c.execute("insert into fsds values('sudh',2254,325.25)")

In [13]:
data = c.execute("select * from fsds")

In [14]:
for i in data:
    print(i)

('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)

In [15]:
db.commit()

In [16]:
db.close()

In [17]:
ls

 Volume in drive C has no label.
 Volume Serial Number is BEC0-260A

 Directory of C:\Users\fazlu\Working_space\class\DataBases

20-02-2022  10:43    <DIR>          .
20-02-2022  10:43    <DIR>          ..
20-02-2022  10:18    <DIR>          .ipynb_checkpoints
19-02-2022  10:28    <DIR>          19.3 MongoDB
19-02-2022  10:21         4,407,102 19.3 MongoDB.7z
19-01-2022  10:30            38,777 glass_data
19-01-2022  11:17            36,126 glass_data_final
20-02-2022  10:43             8,192 ineuron.db
19-02-2022  10:44            48,903 MongoDB.ipynb
17-02-2022  18:06           146,429 MySQL.ipynb
20-02-2022  10:43             6,066 SQLLITE.ipynb
               7 File(s)      4,691,595 bytes
               4 Dir(s)  393,899,962,368 bytes free

In [18]:
db = sqlite3.connect("ineuron.db")

In [20]:
c = db.cursor()

In [21]:
data = c.execute("select * from fsds where marks>300")

In [22]:
for i in data:
    print(i)

('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)

In [23]:
data = c.execute("select * from fsds where name='sudh'")

In [24]:
for i in data:
    print(i)

('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)
('sudh', 2254, 325.25)

In [25]:
data = c.execute("select name,marks from fsds")

In [26]:
for i in data:
    print(i)

('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)

In [27]:
data = c.execute("select name,marks from fsds order by marks")

In [28]:
for i in data:
    print(i)

('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)
('sudh', 325.25)

In [29]:
db.close()

In [30]:
db = sqlite3.connect("person.db")

In [32]:
c = db.cursor()

In [33]:
c.execute("create table person_table(name text, emailid text, age int, salary real) ")

In [34]:
ls

 Volume in drive C has no label.
 Volume Serial Number is BEC0-260A

 Directory of C:\Users\fazlu\Working_space\class\DataBases

20-02-2022  10:55    <DIR>          .
20-02-2022  10:55    <DIR>          ..
20-02-2022  10:18    <DIR>          .ipynb_checkpoints
19-02-2022  10:28    <DIR>          19.3 MongoDB
19-02-2022  10:21         4,407,102 19.3 MongoDB.7z
19-01-2022  10:30            38,777 glass_data
19-01-2022  11:17            36,126 glass_data_final
20-02-2022  10:43             8,192 ineuron.db
19-02-2022  10:44            48,903 MongoDB.ipynb
17-02-2022  18:06           146,429 MySQL.ipynb
20-02-2022  10:55             8,192 person.db
20-02-2022  10:53            11,430 SQLLITE.ipynb
               8 File(s)      4,705,151 bytes
               4 Dir(s)  393,885,597,696 bytes free

In [35]:
c.execute("insert into person_table values ('faiz','fazlullahb@gmail.com',214,54886)")
c.execute("insert into person_table values('sudh','sudh@gmail.com',215,548860)")
c.execute("insert into person_table values ('krish','krish@gmail.com',216,548806)")
c.execute("insert into person_table values('reyaz','reyaz@gmail.com',217,5486)")
c.execute("insert into person_table values ('faiz','fazlullahb@gmail.com',214,54886)")
c.execute("insert into person_table values ('faiz','fazlullahb@gmail.com',214,54886)")
c.execute("insert into person_table values('faiz','fazlullahb@gmail.com',214,54886)")
c.execute("insert into person_table values('faiz','fazlullahb@gmail.com',214,54886)")

In [38]:
data = c.execute("select * from person_table")

In [39]:
for i in data:
    print(i)

('faiz', 'fazlullahb@gmail.com', 214, 54886.0)
('sudh', 'sudh@gmail.com', 215, 548860.0)
('krish', 'krish@gmail.com', 216, 548806.0)
('reyaz', 'reyaz@gmail.com', 217, 5486.0)
('faiz', 'fazlullahb@gmail.com', 214, 54886.0)
('faiz', 'fazlullahb@gmail.com', 214, 54886.0)
('faiz', 'fazlullahb@gmail.com', 214, 54886.0)
('faiz', 'fazlullahb@gmail.com', 214, 54886.0)

In [41]:
db.commit()

In [42]:
db.close()

In [43]:
ls

 Volume in drive C has no label.
 Volume Serial Number is BEC0-260A

 Directory of C:\Users\fazlu\Working_space\class\DataBases

20-02-2022  11:00    <DIR>          .
20-02-2022  11:00    <DIR>          ..
20-02-2022  10:18    <DIR>          .ipynb_checkpoints
19-02-2022  10:28    <DIR>          19.3 MongoDB
19-02-2022  10:21         4,407,102 19.3 MongoDB.7z
19-01-2022  10:30            38,777 glass_data
19-01-2022  11:17            36,126 glass_data_final
20-02-2022  10:43             8,192 ineuron.db
19-02-2022  10:44            48,903 MongoDB.ipynb
17-02-2022  18:06           146,429 MySQL.ipynb
20-02-2022  11:00             8,192 person.db
20-02-2022  10:59            16,694 SQLLITE.ipynb
               8 File(s)      4,710,415 bytes
               4 Dir(s)  393,893,015,552 bytes free

In [44]:
db = sqlite3.connect('ineuron.db')

In [46]:
c = db.cursor()

In [47]:
c.execute('drop table fsds')

In [49]:
c.execute('select * from fsds')

OperationalError: no such table: fsds

In [48]:
ls

 Volume in drive C has no label.
 Volume Serial Number is BEC0-260A

 Directory of C:\Users\fazlu\Working_space\class\DataBases

20-02-2022  11:03    <DIR>          .
20-02-2022  11:03    <DIR>          ..
20-02-2022  10:18    <DIR>          .ipynb_checkpoints
19-02-2022  10:28    <DIR>          19.3 MongoDB
19-02-2022  10:21         4,407,102 19.3 MongoDB.7z
19-01-2022  10:30            38,777 glass_data
19-01-2022  11:17            36,126 glass_data_final
20-02-2022  11:03             8,192 ineuron.db
19-02-2022  10:44            48,903 MongoDB.ipynb
17-02-2022  18:06           146,429 MySQL.ipynb
20-02-2022  11:00             8,192 person.db
20-02-2022  11:03            17,722 SQLLITE.ipynb
               8 File(s)      4,711,443 bytes
               4 Dir(s)  393,890,197,504 bytes free

In [50]:
db.close()

In [51]:
db = sqlite3.connect('person.db')

In [52]:
c = db.cursor()

In [55]:
data = c.execute('select * from person_table limit 4')

In [56]:
for i in data:
    print(i)

('faiz', 'fazlullahb@gmail.com', 214, 54886.0)
('sudh', 'sudh@gmail.com', 215, 548860.0)
('krish', 'krish@gmail.com', 216, 548806.0)
('reyaz', 'reyaz@gmail.com', 217, 5486.0)

In [57]:
db = sqlite3.connect('jobdb.db')

In [58]:
c = db.cursor()

In [59]:
c.execute("create table student (student_id int, student_name text, student_mailid text, marks int)")

In [60]:
c.execute("create table address (student_id int,pincode int,location text,nearby text, phone_no int)")

In [62]:
c.execute("insert into student values (235, 'sudhanshu','sudhanshu@gmail.ai',234)")
c.execute("insert into student values (236, 'sudhanshu','sudhanshu@gmail.ai',234)")
c.execute("insert into student values (237, 'sudhanshu','sudhanshu@gmail.ai',234)")
c.execute("insert into student values (238, 'sudhanshu','sudhanshu@gmail.ai',234)")
c.execute("insert into student values (239, 'sudhanshu','sudhanshu@gmail.ai',234)")
c.execute("insert into student values (240, 'sudhanshu','sudhanshu@gmail.ai',234)")
c.execute("insert into student values (241, 'sudhanshu','sudhanshu@gmail.ai',234)")
c.execute("insert into student values (242, 'sudhanshu','sudhanshu@gmail.ai',234)")
c.execute("insert into student values (243, 'sudhanshu','sudhanshu@gmail.ai',234)")
c.execute("insert into student values (244, 'sudhanshu','sudhanshu@gmail.ai',234)")
c.execute("insert into student values (245, 'sudhanshu','sudhanshu@gmail.ai',234)")

In [64]:
c.execute("insert into address values (234, 560034, 'whitefeild','ineuron office',23415485574758)")
c.execute("insert into address values (235, 560034, 'whitefeild','ineuron office',23415485574758)")
c.execute("insert into address values (236, 560034, 'whitefeild','ineuron office',23415485574758)")
c.execute("insert into address values (237, 560034, 'whitefeild','ineuron office',23415485574758)")
c.execute("insert into address values (238, 560034, 'whitefeild','ineuron office',23415485574758)")
c.execute("insert into address values (239, 560034, 'whitefeild','ineuron office',23415485574758)")
c.execute("insert into address values (240, 560034, 'whitefeild','ineuron office',23415485574758)")
c.execute("insert into address values (241, 560034, 'whitefeild','ineuron office',23415485574758)")
c.execute("insert into address values (242, 560034, 'whitefeild','ineuron office',23415485574758)")
c.execute("insert into address values (243, 560034, 'whitefeild','ineuron office',23415485574758)")
c.execute("insert into address values (244, 560034, 'whitefeild','ineuron office',23415485574758)")
c.execute("insert into address values (245, 560034, 'whitefeild','ineuron office',23415485574758)")

c.execute("insert into address values (234456, 560034, 'whitefeild','ineuron office',23415485574758)")
c.execute("insert into address values (2345363, 560034, 'whitefeild','ineuron office',23415485574758)")

In [65]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(235, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(236, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(237, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(238, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(239, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(240, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(241, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(242, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(243, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(244, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(245, 'sudhanshu', 'sudhanshu@gmail.ai', 234)

In [70]:
data = c.execute("select * from student s left join address a on s.student_id=a.student_id where a.student_id is not null")

In [71]:
for i in data:
    print(i)

(234, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 234, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(235, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 235, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(236, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 236, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(237, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 237, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(238, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 238, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(239, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 239, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(240, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 240, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(241, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 241, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(242, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 242, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(243, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 243, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(244, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 244, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(245, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 245, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(234, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 234, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(235, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 235, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(236, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 236, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(237, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 237, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(238, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 238, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(239, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 239, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(240, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 240, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(241, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 241, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(242, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 242, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(243, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 243, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(244, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 244, 560034, 'whitefeild', 'ineuron office', 23415485574758)
(245, 'sudhanshu', 'sudhanshu@gmail.ai', 234, 245, 560034, 'whitefeild', 'ineuron office', 23415485574758)

In [72]:
data = c.execute("select * from student s right join address a on s.student_id=a.student_id where a.student_id is not null")

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [73]:
data = c.execute("select * from address a left join student s on s.student_id=a.student_id where a.student_id is not null")

In [74]:
for i in data:
    print(i)

(234, 560034, 'whitefeild', 'ineuron office', 23415485574758, 234, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(235, 560034, 'whitefeild', 'ineuron office', 23415485574758, 235, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(236, 560034, 'whitefeild', 'ineuron office', 23415485574758, 236, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(237, 560034, 'whitefeild', 'ineuron office', 23415485574758, 237, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(238, 560034, 'whitefeild', 'ineuron office', 23415485574758, 238, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(239, 560034, 'whitefeild', 'ineuron office', 23415485574758, 239, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(240, 560034, 'whitefeild', 'ineuron office', 23415485574758, 240, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(241, 560034, 'whitefeild', 'ineuron office', 23415485574758, 241, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(242, 560034, 'whitefeild', 'ineuron office', 23415485574758, 242, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(243, 560034, 'whitefeild', 'ineuron office', 23415485574758, 243, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(244, 560034, 'whitefeild', 'ineuron office', 23415485574758, 244, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(245, 560034, 'whitefeild', 'ineuron office', 23415485574758, 245, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(234456, 560034, 'whitefeild', 'ineuron office', 23415485574758, None, None, None, None)
(2345363, 560034, 'whitefeild', 'ineuron office', 23415485574758, None, None, None, None)
(234, 560034, 'whitefeild', 'ineuron office', 23415485574758, 234, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(235, 560034, 'whitefeild', 'ineuron office', 23415485574758, 235, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(236, 560034, 'whitefeild', 'ineuron office', 23415485574758, 236, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(237, 560034, 'whitefeild', 'ineuron office', 23415485574758, 237, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(238, 560034, 'whitefeild', 'ineuron office', 23415485574758, 238, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(239, 560034, 'whitefeild', 'ineuron office', 23415485574758, 239, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(240, 560034, 'whitefeild', 'ineuron office', 23415485574758, 240, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(241, 560034, 'whitefeild', 'ineuron office', 23415485574758, 241, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(242, 560034, 'whitefeild', 'ineuron office', 23415485574758, 242, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(243, 560034, 'whitefeild', 'ineuron office', 23415485574758, 243, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(244, 560034, 'whitefeild', 'ineuron office', 23415485574758, 244, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(245, 560034, 'whitefeild', 'ineuron office', 23415485574758, 245, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(234456, 560034, 'whitefeild', 'ineuron office', 23415485574758, None, None, None, None)
(2345363, 560034, 'whitefeild', 'ineuron office', 23415485574758, None, None, None, None)

In [77]:
for i in c.execute("select * from student where student_id>200"):
    print(i)

(234, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(235, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(236, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(237, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(238, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(239, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(240, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(241, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(242, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(243, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(244, 'sudhanshu', 'sudhanshu@gmail.ai', 234)
(245, 'sudhanshu', 'sudhanshu@gmail.ai', 234)

In [78]:
c.execute("delete from student where student_id>2000")

In [80]:
data = c.execute("select * from student")

In [81]:
data.fetchall()

[(234, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (235, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (236, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (237, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (238, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (239, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (240, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (241, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (242, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (243, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (244, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (245, 'sudhanshu', 'sudhanshu@gmail.ai', 234)]

In [82]:
c.execute('update student set student_id = 1000 where student_id = 236')

In [83]:
data = c.execute("select * from student")
data.fetchall()

[(234, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (235, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (1000, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (237, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (238, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (239, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (240, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (241, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (242, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (243, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (244, 'sudhanshu', 'sudhanshu@gmail.ai', 234),
 (245, 'sudhanshu', 'sudhanshu@gmail.ai', 234)]